.navBarSpace {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  box-shadow: 0 3px 6px rgba(100, 99, 99, 0.2);
  height: 3.3vw;
  background-color: transparent;
}

.main {
  display: grid;
  grid-template: minmax(15vw, auto) 3.1vw auto 16vw / 13.2vw 9.5vw 5.5vw 57.5vw 1fr;
  background-color: #ffffff;
}

.header {
  grid-area: 1 / 4;
  padding: 0;
}

.title {
  font-family: nunito, sans-serif;
  font-weight: 850;
  color: #6c6c6c;
  margin: 7.4vw 0vw 1vw;
  font-size: 2.2vw;
}
.description {
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  color: #767676;
  font-size: 1vw;
  display: flex;
  align-self: flex-start;
  text-align: left;
  letter-spacing: 0.02vw;
}
.projects {
  grid-area: 3 / 4;
}
.projectsContainer {
  display: flex;
  flex-flow: row wrap;
  gap: 3vw 4.45vw;
  margin: 0 -0.5vw;
}

.card {
  width: 16.4vw;
  height: 16.5vw;
  display: flex;
  flex-flow: column;
  align-items: center;
}

.projectName {
  font-family: "nunito", sans-serif;
  font-size: 1.6vw;
  font-weight: 800;
  color: #767676;
  text-align: center;
  line-height: 1.8vw;
}

.cardDescription {
  margin-top: 0.5vw;
  text-align: center;
  align-self: center;
  font-family: "Open sans", sans-serif;
  font-weight: 700;
  font-size: 1.1vw;
  color: #767676;
}

.link {
  text-decoration: none;
  width: 100%;
}

.backButtons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  padding-top: 8vw;
  grid-area: 4 / 4;
}

.backToTopButton {
  background-color: #e5ab2c;
  border: none;
  font-family: "Nunito", sans-serif;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 900;
  font-size: 0.9vw;
  padding: 5px 0px;
  width: 9.1vw;
  margin-right: 3.1vw;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
