.overlayBox { /*fixed name to match jsx file - which prevented box rendering. So so so much time wasted */
    /* position: relative; */
    background-color: #FFFFFF80; 
    /* padding: 20px; */
    margin: 4% 5% 4% 2%; 
    border-radius: 20px; /* Rounded corners */
    height: 90%;
    width: 95%;
    align-items: center;
    justify-content: center;
    display: flex;
}

.videoWrapper {
  position: relative;
  width: 95%; /* Max width of the video */
  height: 0; /* This is changed to work with padding-top for aspect ratio */
  padding-top: 56.25%; /* Aspect ratio 16:9 */
  margin: auto; /* Centering the wrapper if it's smaller than the max sizes */
}

.videoStyle {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none; /* Remove the border around the iframe */
  }
  
  