/* page styling */
.body {
  height: 90%;
  width: 95%;
  /* outline: 2px solid red; */
  background-color: #ffffff80;
  margin: 4% 5% 4% 2%;
  border-radius: 20px;
}

/* content styling */
.main {
  background-color: #ffffff80;
  border: #ffffff80 1px solid;
  border-radius: 30px;
  padding: 4vw;
  height: 90%;
  width: 95%;
}

/* text and font styling for each text class */
.title {
  display: flex;
  color: #6c6c6c;
  font-family: "nunito";
}

.dateTime {
  text-align: end;
  padding: 10px;
  color: #6c6c6c;
  font-family: "nunito";
}

.nameHelp {
  text-align: left;
  font-size: 15px;
  font-weight: 850;
  color: #6c6c6c;
  font-family: "nunito";
}

.otherText {
  text-align: end;
  color: #6c6c6c;
  font-family: "nunito";
}

/* display styling */
.flex {
  display: flex;
  padding-bottom: 2vh;
  justify-content: space-between;
  align-items: center;
  margin-right: 2vw;
}

.studentHelp {
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 2vh;
  align-items: flex-start;
}

.checkBoxDiv,
.requestFlex,
.studentHelp {
  display: flex;
  justify-content: space-between;
}

.checkboxDiv {
  background-color: white;
  width: 94%;
  border-radius: 15px;
  margin-bottom: 2vh;
  margin-right: 2vw;
}

.requestFlex {
  align-items: center;
}

.profilePic {
  height: 7vh;
  margin: 0 4vw;
}

.checkbox {
  margin-top: 6vh;
}

.forScroll {
  /* Styles for the container with scrollbar */
  max-height: 450px; /* Adjust as needed */
  overflow-y: auto; /* Ensure scrollbar appears when content exceeds container height */
}

.checkbox > input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 2px #c7c7c7 inset;
  outline: none;
  cursor: pointer;
}

.checkbox > input:checked {
  background-color: #43c0f6;
  position: relative;
}

.checkbox > input:checked::before {
  content: "";
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  right: 1px;
  top: -5px;
}
