.overlayBox { /*fixed name to match jsx file - which prevented box rendering. So so so much time wasted */
    /* position: relative; */
    background-color: #FFFFFF80; 
    /* padding: 20px; */
    margin: 4% 5% 4% 2%; 
    border-radius: 20px; /* Rounded corners */
    height: 90%;
    width: 95%;
  }
  
  .join {
    font-family: 'Nunito', sans-serif; 
    font-weight: bold; 
    font-size: 24px; 
    color: #707070; /* colour taken from the photoshop mock up*/
    text-align: left; /* not working - being overidden*/
  }
  
  .body {
    text-align: left; /* not working - being overidden*/
    font-family: 'Nunito', sans-serif; 
    font-weight: normal; 
    font-size: 16px; 
    color: #707070; /* colour taken from the photoshop mock up*/
  }

  .linkStyle {
    color: #F91C85; /* Sets the text color of the link */
    text-decoration: none; /* removes underline from links (to match PS mockup) */
    font-weight: bold;
  }
  
  .linkStyle:hover {
    text-decoration: underline; /* adds underline on hover */
  }
  
  .centeredColumn {
    display: flex;
    flex-direction: column;
    align-items: left; 
    max-width: 80%; /* Maximum width is set to 80% of the overlaybox width. PS mockup was probably closer to 60% */
    margin: 0 auto; /* This centers the .centeredColumn inside the overlay box */
  }
  
  .row {
    margin: 10px 0;
  }
  
  /* added because image width exceeded column width*/
  .imageStyle {
    max-width: 100%;
    height: auto; /* Maintain aspect ratio */
  }
  
