
.container {
    font-family: Open Sans, Regular;
    font-size: 18px; 
    color: #707070; /* Hex color for the text - specified in photoshop mockup supplied */
    text-align: center;
  }
  
  h2 {
    font-family: 'Nunito', sans-serif; 
    font-weight: bold; 
    font-size: 24px; 
    color: #707070; /* Hex color for the text - specified in photoshop mockup supplied */
  }
  
  h3 {
    font-family: 'Nunito', sans-serif; 
    font-weight: bold; 
    font-size: 18px; 
    color: #707070; /* Hex color for the text - specified in photoshop mockup supplied */
    padding: 0.5rem;
    margin-top: 0;
  }
  
  .columns, .row {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap; /* Allow the columns to wrap on smaller screens */
  }
  
  .column {
    flex: 1; /* Allows columns to grow to fill available space */
    padding: 1rem;
    min-width: 150px; /* Minimum width of each column, adjust based on content */
    box-sizing: border-box; /* Include padding in width calculation */
  }
  
  .column img {
    max-width: 100%; /* Make images responsive */
    height: auto; /* Maintain aspect ratio */
    max-height: 200px; 
    margin: 0 auto; /* Center images within the column */
  }
  
  /* Align text to the left in new columns */
  .row > .column {
    text-align: left;
  }
  
  .sticky-header {
    position: -webkit-sticky; /* For Safari */
    position: sticky;
    top: 0; 
    z-index: 1000; /* Ensure the sticky header is above other content */
  }

  .overlay-box {
    position: relative; 
    background-color: #FFFFFF80; 
    padding: 20px;
    margin: 20px 20px 20px 20px;
    border-radius: 15px; /* Rounded corners */
    min-height: 600px;
  }

  
    