.overlayBox { /*fixed name to match jsx file - which prevented box rendering. So so so much time wasted */
  /* position: relative; */
  background-color: #FFFFFF80; 
  /* padding: 20px; */
  margin: 4% 5% 4% 2%; 
  border-radius: 20px; /* Rounded corners */
  height: 90%;
  width: 95%;
}

.explore {
  font-family: 'Nunito', sans-serif; 
  font-weight: bold; 
  font-size: 24px; 
  color: #707070; /* Hex color for the text - specified in photoshop mockup supplied */
  text-align: center; /* Centers text horizontally */ 
}

/* Why is my H3 not working????? */
.blocks {
  font-family: 'Nunito', sans-serif; 
  font-weight: bold; 
  font-size: 18px; 
  color: #707070; /* Hex color for the text - specified in photoshop mockup supplied */
}

<<<<<<< HEAD


=======
.body {
  text-align: center;
  font-family: 'Nunito', sans-serif; 
  font-weight: regular; 
  font-size: 16px; 
  color: #707070; /* Hex color for the text - specified in photoshop mockup supplied */
}
>>>>>>> main
  
.columns, .row {
  display: flex;
  justify-content: space-between;  
}

.row {
  text-align: center;
}

.column {
  flex: 1; /* Allows columns to grow to fill available space */
  padding: 1rem;
  box-sizing: border-box; /* Include padding in width calculation */
}
  
.img {
  max-width: 100%; /* Make images responsive */
  height: auto; /* Maintain aspect ratio */
  max-height: 100%; 
  margin: 0 auto; /* Center images within the column */
}
  
/* Align text to the left in new columns */
.row > .column {
  text-align: left;
}
  




  
    
