.overlayBox { 
  /* position: relative; */
  background-color: #FFFFFF80; 
  /* padding: 20px; */
  margin: 4% 5% 4% 2%; 
  border-radius: 20px; /* Rounded corners */
  height: 90%;
  width: 95%;

  display: flex;
  justify-content: center;
  align-items: flex-start;
  position: relative;

  
}
  
.content {
   /* Make images responsive */
  scale: 85%; /* Maintain aspect ratio */
  width: auto;
  padding-bottom: 50px;
  top: 0px;
  bottom: 850px;
  position: absolute;
}
  

  




  
    
