.main {
  display: grid;
  grid-template: 7.3vw 30vw auto 8.5vw /17.8vw 18.8vw 3.6vw 43vw 1fr;
  background-color: #eeeeee;
}

.left {
  background-color: #ffffff;
  grid-area: 2 / 2;
  border: #e2dfdf solid 1.5px;
  border-radius: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.studentImage {
  margin: 4.3vw 0 3.6vw;
  width: 9.1vw;
}

.btn {
  border: #43c0f6 solid 1.5px;
  font-family: "Nunito", sans-serif;
  border-radius: 5px;
  background-color: #ffffff;
  color: #43c0f6;
  font-weight: 900;
  font-size: 0.9vw;
  margin-bottom: 1.7vw;
  padding: 3px 0px;
  width: 9.1vw;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.studentInfoCard {
  background-color: #ffffff;
  grid-area: 2 / 4 / span 2;
  display: grid;
  grid-template: 10.3vw minmax(28vw, auto) / 55% 45%;
  border: #e2dfdf solid 1.9px;
  border-radius: 25px;
}

.header {
  grid-column: span 2;
  justify-self: center;
}

.studentName {
  margin: 3.2vw 0 2vw;
  font-size: 3.3vw;
  font-weight: 700;
  font-style: bold;
  color: #707070;
  font-family: "nunito", sans-serif;
}

.labels {
  font-family: "nunito", sans-serif;
  grid-area: 2/1;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 5vw;
}

.label {
  line-height: 4vw;
  color: #a5a5a5;
  font-weight: 650;
  font-size: 1.7vw;
}

.details {
  grid-area: 2/2;
  justify-items: start;
}

.detail {
  font-family: "Open sans", sans-serif;
  color: #707070;
  line-height: 4vw;
  font-weight: 700;
  font-size: 1.7vw;
  overflow-x: auto;
}

.backButtons {
  grid-area: 4 / 4;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.backButton {
  background-color: #f91c85;
  border: none;
  font-family: "Nunito", sans-serif;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 900;
  font-size: 0.9vw;
  padding: 5px 0px;
  width: 12vw;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}
