main {
  display: grid;
  grid-template: 8vw auto auto minmax(9vw, auto) 9vw /12vw 21vw 4vw 24vw 24vw 1fr;
  background-color: #eeeeee;
  font-family: "nunito", sans-serif;
}

.left {
  background-color: #ffffff;
  grid-area: 2 / 2 / span 2;
  border: #e2dfdf solid 1.9px;
  border-radius: 25px;
  height: 33.5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.studentImage {
  margin: 4.8vw 0 4vw;
  width: 10.3vw;
}

.btn {
  border: #43c0f6 solid 2px;
  font-family: "Nunito", sans-serif;
  border-radius: 5px;
  background-color: #ffffff;
  color: #43c0f6;
  font-weight: 900;
  font-size: 0.9vw;
  margin-bottom: 2vw;
  padding: 3px 0px;
  width: 10vw;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}

.studentInfoCard {
  background-color: #ffffff;
  grid-area: 2 / 4 / span 3 / span 2;
  display: grid;
  grid-template: 10vw auto / 50% 50%;
  border: #e2dfdf solid 1.9px;
  border-radius: 25px;
  justify-content: center;
}

header {
  grid-area: 1/1/2/3;
  justify-self: center;
  margin: 0;
}

h1 {
  margin: 3vw;
  font-size: 3.6vw;
  font-weight: 700;
  font-style: bold;
  color: #707070;
}

.labels {
  grid-area: 2/1;
  display: flex;
  flex-direction: column;
  align-items: start;
  padding-left: 5vw;
}

h2 {
  line-height: 4.5vw;
  color: #a5a5a5;
  font-weight: 650;
  font-size: 1.8vw;
}

.detail {
  grid-area: 2/2;
  justify-items: start;
}

p {
  font-family: "Open sans", sans-serif;
  color: #707070;
  line-height: 4.5vw;
  font-weight: 700;
  font-size: 1.8vw;
  max-width: 100%;
}

footer {
  grid-area: 5 / 5;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.backButton {
  background-color: #f91c85;
  border: none;
  font-family: "Nunito", sans-serif;
  border-radius: 5px;
  color: #ffffff;
  font-weight: 900;
  font-size: 0.9vw;
  padding: 5px 0px;
  width: 12vw;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.2);
}
