.body{
    height: 90%;
    width: 95%;
    /* outline: 2px solid red; */
    background-color: #FFFFFF80;
    margin: 4% 5% 4% 2%;
    border-radius: 20px;
    display: flex;
    position: relative;
    justify-content: center;
    align-items: center;    
}

.studentsProfileContainer{
    /* outline: 2px solid blue; */
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(3, 1fr); 
    grid-gap: 6%; /* Gap between grid items */
    height: 100%;
    width: 100%;
    padding: 5% 6% 6% 5%;
    align-items: center;
    justify-content: center;    
}

.studentProfile{
    /* outline: 2px solid orange; */
    background-color: white;
    width: 100%;
    height: 90%;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.studentProfile img{
    height: auto;
    width: 60%;
    margin: 10%;
}

.studentName{
    font-size: 65%;
    font-family: Open Sans;
    font-weight: 700;
    color: #707070;
    margin-bottom: 10%;
}