/* Styles for submit project page */
h3 {
  font-family: nunito;
  font-size: 1.3em;
  color: #707070;
}

.text {
  font-family: "Open sans";
  font-size: 0.8em;
  color: #707070;
}

.flexMain {
  background-color: #b2e4fa;
  display: flex;
  height: 93vh;
  justify-content: center;
}

.content {
  /* Flex */
  display: flex;

  /* Design */
  background-color: #ffffff80;
  width: 95%;
  margin-top: 10vh;
  border: #ffffff80 1px solid;
  border-radius: 30px;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 50%;
}

.img {
  width: 70%;
}

#left {
  border-right: #c7c2c2 2px solid;
}
