/* Styles for submit project page */
.title,
.text,
.btnText {
  color: #707070;
}

.title {
  font-family: nunito;
  font-size: 1.3em;
}

.text,
.btnText {
  font-family: "Open sans";
  font-size: 0.8em;
}

.text {
  margin: 0 20px;
}

.flexMain {
  background-color: #b2e4fa;
  display: flex;
  height: 90vh;
  justify-content: center;
  align-items: center;
}

.content {
  /* Flex */
  display: flex;

  /* Design */
  background-color: #ffffff80;
  width: 95%;
  height: 90%;
  border-radius: 30px;
}

.flex {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
  width: 50%;
  text-align: center;
}

.img {
  width: 70%;
  margin-top: 20px;
}

#left {
  border-right: #c7c2c2 2px solid;
}

/* Button styles */
.button {
  background-color: #f91c85;
  color: white;
  border: #f91c85 solid 2px;
  border-radius: 20px;
  width: 10vw;
  padding: 2vh 0;
}

.button:hover {
  background-color: #cb186f;
  cursor: pointer;
}

.btnText {
  color: white;
}
