.body{
    height: 90%;
    width: 95%;
    /* outline: 2px solid red; */
    background-color: #FFFFFF80;
    margin: 4% 5% 4% 2%;
    border-radius: 20px;
    display: flex;
    position: relative;
    justify-content: start;
    flex-direction: column;    
}
.title{
    /* outline: green 2px solid; */
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 20%;
    padding: 5% 6.1%;
    width: 100%;
    position: relative;
}
.title h2{
    font-family: Nunito;
    font-size: 25px;
    font-weight: 900;
    color: #6C6C6C;
}
.title h5{
    font-family: Nunito;
    font-size: 14px;
    font-weight: 850;
    color: #6C6C6C;
}

.studentBarContainer{
    /* outline: 2px solid rgb(0, 0, 255); */
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    height: 70%;
    padding: 0 6% 0 6%;
    overflow: hidden;
}
.studentProgressBar{
    /* outline: 2px solid orange; */
    background-color: white;
    padding: 2% 4.5% 2% 3.5%;
    margin: 13px 0;
    border-radius: 10px;
    width: 100%;
    
    display: flex;
    justify-content: space-between;
}
.studentInfo{
    font-family: Open Sans;
    color: #707070;
    font-weight: 700;
    display: flex;
    flex-direction: column;
    justify-content: center;    
}
.studentName{
    font-size: 90%;
}
.studentProgress{
    font-size: 65%;
}
.progressIconContainer{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    height: 100%;
}
.progressIconContainer button{
    width: 4%;
    height: auto;
    padding: 0.7% 0;
    border-radius: 50%;
    margin: 1%;
    color: #6C6C6C;
    background-color: white;
    border-color: #A2A0A0;
}

