/* css for project submissions */
.title,
.btnTitle,
.textSubmit,
.titleName {
  color: #6c6c6c;
}

.title,
.textSubmits {
  font-family: "nunito";
  font-size: 1.2em;
}

.btnTitle {
  font-size: 0.8em;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b2e4fa;
  height: 90vh;
  width: 100%;
}

.content {
  background-color: #ffffff80;
  border: #ffffff80 1px solid;
  border-radius: 30px;
  padding: 4vw;
  height: 90%;
  width: 95%;
}

.forScroll {
  overflow-y: scroll;
  height: 90%;
}

.flex {
  display: flex;
  padding-bottom: 2vh;
  justify-content: space-between;
  align-items: center;
  margin-right: 2vw;
}

.btn {
  border: none;
  background-color: transparent;
  margin-left: 2vw;
}

/* Styling for project submission banners */
.checkboxDiv,
.projectFlex,
.imageFlex,
.submitedProject {
  display: flex;
  justify-content: space-between;
}

.submitedProject {
  align-items: flex-start;
}

.checkboxDiv {
  background-color: white;
  width: 94%;
  border-radius: 15px;
  margin-bottom: 2vh;
  margin-right: 2vw;
}

.projectFlex {
  align-items: center;
}

/* .checkbox {
  visibility: hidden;
}

.trueCheckbox {
  position: relative;
  display: block;
  cursor: pointer;
  margin-top: 4vh;
}

.trueCheckbox::before {
  content: "";
  position: relative;
  display: block;
  height: 1em;
  width: 1em;
  background-color: #50cdbe;
  border-radius: 3px;
}

.trueCheckbox:hover::before {
  background-color: #1ae6e6;
}

.trueCheckbox::after {
  content: "";
  position: relative;
  width: 0.5em;
  height: 0.5em;
  opacity: 0;
  border: solid #333;
  border-width: 0 3px 3px 0;
}

.checkbox:checked + .trueCheckbox::after {
  opacity: 1;
} */

.profileImg {
  height: 7vh;
  margin: 0 4vw;
}

.imageFlex {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
}

.projectImg {
  height: 15vh;
}

.enlargeBtn,
.date,
.time {
  color: #6c6c6c;
}

.enlargeBtn {
  border: none;
  background-color: transparent;
  color: #6c6c6c;
}

.dateTime {
  margin: 5vh 5vw;
}

.titleName {
  font-size: 1em;
  font-family: "Open sans", sans-serif;
}
