/* css for project submissions */
.title,
.btnTitle {
  color: #6c6c6c;
}

.title {
  font-family: "nunito";
  font-size: 1.2em;
}

.btnTitle {
  font-size: 0.8em;
}

.main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #b2e4fa;
  height: 90vh;
  width: 100%;
}

.content {
  background-color: #ffffff80;
  border: #ffffff80 1px solid;
  border-radius: 30px;
  padding: 4vw;
  height: 90%;
  width: 95%;
}

.forScroll {
  overflow-y: scroll;
  height: 90%;
}

.flex {
  display: flex;
  padding-bottom: 2vh;
  justify-content: space-between;
  align-items: center;
  margin-right: 2vw;
}

.btn {
  border: none;
  background-color: transparent;
  margin-left: 2vw;
}

/* Styling for project submission banners */
.submitedProject {
  display: flex;
  justify-content: space-between;
  background-color: white;
  border-radius: 15px;
  margin-bottom: 2vh;
  margin-right: 2vw;
}

.img {
  height: 7vh;
  margin-top: 1vh;
}

.dateTime {
  margin: 5vh 5vw;
}
