/* css for project submissions */
.title,
.btnTitle,
.textSubmit,
.titleName {
  color: #6c6c6c;
}

.title,
.textSubmits {
  font-family: "nunito";
  font-size: 1.2em;
}

.btnTitle {
  font-size: 0.8em;
}

.content {
  height: 90%;
  width: 95%;
  background-color: #ffffff80;
  margin: 4% 5% 4% 2%;
  border-radius: 20px;
  padding: 4vw;
}

.forScroll {
  overflow-y: scroll;
  height: 90%;
}

.flex {
  display: flex;
  padding-bottom: 2vh;
  justify-content: space-between;
  align-items: center;
  margin-right: 2vw;
}

.btn {
  color: #6c6c6c;
  border: none;
  background-color: transparent;
  margin-left: 2vw;
  font-size: 0.7em;
  cursor: pointer;
}

/* Styling for project submission banners */
.checkboxDiv,
.projectFlex,
.imageFlex,
.submitedProject {
  display: flex;
  justify-content: space-between;
}

.submitedProject {
  align-items: flex-start;
}

.checkboxDiv {
  background-color: white;
  width: 94%;
  border-radius: 15px;
  margin-bottom: 2vh;
  margin-right: 2vw;
}

.projectFlex {
  align-items: center;
}

.checkbox {
  margin-top: 6vh;
}

.checkbox > input[type="checkbox"] {
  /* removing default appearance */
  -webkit-appearance: none;
  appearance: none;
  /* creating a custom design */
  width: 1.6em;
  height: 1.6em;
  border-radius: 0.15em;
  margin-right: 0.5em;
  border-radius: 3px;
  background-color: white;
  box-shadow: 0 2px #c7c7c7 inset;
  outline: none;
  cursor: pointer;
}

.checkbox > input:checked {
  background-color: #43c0f6;
  position: relative;
}

.checkbox > input:checked::before {
  content: "";
  font-size: 1.5em;
  color: #fff;
  position: absolute;
  right: 1px;
  top: -5px;
}

.profileImg {
  height: 7vh;
  margin: 0 4vw;
}

.imageFlex {
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 30vh;
}

.projectImg {
  position: relative;
  height: 15vh;
  margin: 10px;
}

.date,
.time {
  color: #6c6c6c;
}

.dateTime {
  margin: 5vh 5vw;
}

.titleName {
  font-size: 1em;
  font-family: "Open sans", sans-serif;
}
